<div class="dashboardtitle">Sanity for </div>
<div class="dashboard">
	<table id="camoTable">
		<tr>
			<th>Type</th>
			<th id="thCamo">Camo</th>
			<th>Status</th>
			<th>Health</th>
		</tr>
	</table>

	<table id="dnTable">
		<tr>
			<th>Type</th>
			<th id="thDN">DigitalNotifications</th>
			<th>Status</th>
			<th>Health</th>
		</tr>
	</table>
	<table id="ocximTable">
		<tr>
			<th>Type</th>
			<th id="thOcxim">OCX-IM</th>
			<th>Status</th>
			<th>Health</th>
		</tr>
	</table>
	<table id="omxTable">
		<tr>
			<th>Type</th>
			<th id="thOmx">OMX/Avos</th>
			<th>Status</th>
			<th>Health</th>
		</tr>
	</table>

	<table id="reportingTable">
		<tr>
			<th>Type</th>
			<th id="thReporting">Reporting</th>
			<th>Status</th>
			<th>Health</th>
		</tr>
	</table>
	<table id="tnmgtTable">
		<tr>
			<th>Type</th>
			<th id="thTnmgt">TnManagement</th>
			<th>Status</th>
			<th>Health</th>
		</tr>
	</table>
	<table id="tnplatformTable">
		<tr>
			<th>Type</th>
			<th id="thTnplatform">TnPlatform</th>
			<th>Status</th>
			<th>Health</th>
		</tr>
	</table>
	<table id="workermgtTable">
		<tr>
			<th>Type</th>
			<th id="thWorkermgt">WorkerManagement</th>
			<th>Status</th>
			<th>Health</th>
		</tr>
	</table>
</div>